.container-fluid {
  margin: 0;
  padding: 0;
}
#wtf {
  border-radius: 0;
  margin: 0;
}
ul a {
  font-size: 0.7em;
  font-weight: bold;
  color: #f4f2f2;
}
.logo {
  color: #00A3CD;
}
.heading {
  background-image: url('bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 5px #31B0D5;
}
.row, .service{
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.bar, .client-title {
  padding-top: 0;
  padding-bottom: 0;
}
.clients-img {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.work {
  padding-bottom: 0;
}
.row h3 {
  margin: 0;
}
.clients {
  background-color: #E8E8E7;
}
.title {
  background-color: #E8E8E7;
  border: solid 2px #ccc;
  border-radius: 5px;
  padding: 5%;
  position: relative;
  bottom: 45px;
  z-index: -1;
}
.info {
  background-color: #222222;
  color: #f4f2f2;
}
.foot {
  padding-top: 2%;
}
.form-group {
  width: 75%;
  position: relative;
  left: 5%;
}

footer {
  background-color: #313A3E;
  color: #f4f2f2;
}

@media screen and (max-width:768px)
 {
.clients {
  padding-bottom: 10%;
}
h4 {
     text-align: center;
   }
.med-center {
  text-align: center;
}
form {
  position: relative;
  left: 12%;
}
}
